<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Título de la página</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    {% for Cafeteria in object_list %}  

    <p> nombre: {{Cafeteria.nombre}} </p>
    
    <a href = "{% url 'CafeVer' Cafeteria %}" > Ver Café </a> 

    {% endfor %}

    <a href = "{% url 'Cafecrear'%}" > Crear Cafe </a>

</body>
</html>